<h1><%=@restaurant.name%></h1>

<p><strong>Address</strong></p>
<p><%=@restaurant.address%></p>
<p><strong>Category</strong></p>
<p><%=@restaurant.category%></p>
<p><strong>Phone Number</strong></p>
<p><%@restaurant.phone_number%></p>
<p><strong>Reviews</strong></p>
<%@restaurant.reviews.each do |review|%>
  <ul>
    <li><%=review.content%></li>
  </ul>
<%end%>


<p>
<%=link_to "Home", restaurants_path%>
</p>

<p>
<%=link_to "Edit", edit_restaurant_path(@restaurant)%>
</p>

<p>
<%=link_to "Write a review", new_restaurant_review_path(@restaurant)%>
</p>
